@{
    ViewData["Title"] = "Reset";
}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
        <p class="card-text py-2">
            Enter your email address and we'll send you a code to reset your password.
        </p>
        <div class="form-outline">
            <label class="form-label" for="typeEmail">Email input</label>
            <input type="email" id="typeEmail" class="form-control my-3" />
        </div>
        <a class="btn btn-outline-light btn-lg px-5" href="/Home" role="button">Reset password</a>
        <div class="d-flex justify-content-between mt-4">
        </div>
    </div>
</div>
</section>
